@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
      @apply bg-gray-300;
    }
    input {
      @apply flex-auto bg-gray-200 text-sm font-medium rounded p-2 focus:outline-none focus:ring focus:border-blue-100;
    }
    button {
      @apply text-sm font-medium;
    }
  }